.work-list-item-Card {
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .work-list-item-Card_Img {
    cursor: pointer; }
  .work-list-item-Card_Desc {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 12px; }
  .work-list-item-Card_DescHeading {
    margin-bottom: 10px;
    color: rgba(47,47,47,.9);
    line-height: 1.5;
    font-size: 1rem; }
  .work-list-item-Card_DescSubHeading {
    color: rgba(0, 0, 0, 0.54);
    font-size: .9rem;
    line-height: 1.5; }

.work-list-item .work-list-item-TechList {
  margin-top: auto;
  font-size: 1.2rem;
  display: flex; }
  .work-list-item .work-list-item-TechList .__react_component_tooltip.type-success {
    background-color: #06dca3;
    font-weight: bold;
    color: #fff; }

.work-list-item .language-icon {
  margin-right: 10px; }
