$headerHeight: 100px;

.home {
  min-height: 100vh;

  &-Works {
    $marginTop: $headerHeight + 30px;

    margin-top: $marginTop;
    margin-bottom: 50px;

    &_List {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
