$headerHeight: 100px;

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $headerHeight;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    > a {
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Source Serif Pro', serif;
      color: #2F2F2F;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    /deep/ .swiper-slide {
      width: auto;
    }

    .nav-container {
      width: 50%;
      overflow: hidden;

      a {
        font-family: 'Roboto';
        font-size: .9rem;
        font-weight: 600;
        color: #2F2F2F;
        opacity: .7;
        border-bottom: 1px solid transparent;

        &.active {
          opacity: 1;
          color: #06dca3;
          border-bottom: 1px solid #05f9b8b5;
        }

        transition: .25s;

        &:hover {
          opacity: 1;
        }
      }
    }


    // angle icon
    .icon {
      cursor: pointer;
      padding: 0 10px;
    }
  }
}


