.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.9); }
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; }
    .header .logo > a {
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Source Serif Pro', serif;
      color: #2F2F2F; }
  .header .nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .nav /deep/ .swiper-slide {
      width: auto; }
    .header .nav .nav-container {
      width: 50%;
      overflow: hidden; }
      .header .nav .nav-container a {
        font-family: 'Roboto';
        font-size: .9rem;
        color: #2F2F2F;
        opacity: .8;
        transition: .25s; }
        .header .nav .nav-container a:hover {
          opacity: 1; }
    .header .nav .icon {
      cursor: pointer;
      padding: 0 10px; }

.works {
  margin-top: 100px; }
  .works .works-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px; }
  .works .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .works .card .card-desc {
      display: flex;
      flex-direction: column;
      height: 160px;
      padding: 12px; }
    .works .card .card-desc-heading {
      margin-bottom: 10px;
      color: #2F2F2F;
      line-height: 1.5;
      font-size: 1rem; }
    .works .card .card-desc-sub-heading {
      color: rgba(0, 0, 0, 0.54);
      font-size: .9rem;
      line-height: 1.5; }
  .works .tech-list {
    margin-top: auto;
    font-size: 1.2rem;
    display: flex; }
    .works .tech-list .tech-list-item {
      margin-right: 10px; }

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.circle {
  border-radius: 50%;
  background: #f4f7f6;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 2001;
  opacity: 0; }

/* ------------------------------
  Works Content
 --------------------------------*/
.works-content-overlay {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 3001;
  transform: translateX(100%);
  background: #fff;
  padding: 0 30px;
  overflow-y: scroll; }
  .works-content-overlay .works-content-heading {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 4rem;
    line-height: 1.5; }

.slide-works-enter-active, .slide-works-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s; }

.slide-works-enter-done {
  opacity: 1;
  transform: translateX(0); }

/* ------------------------------
  Animation
 --------------------------------*/
.scale-enter-active, .scale-exit-active {
  opacity: 1;
  transform: scale(40);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.scale-enter-done {
  opacity: 1;
  transform: scale(40); }
