/* ------------------------------
  Overlay scale animation
 --------------------------------*/
.work-detail-Overlay {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 3001;
  transform: translateX(100%);
  background: #fff;
  padding: 0 30px 30px 30px;
  overflow-y: scroll; }

.work-detail-Circle {
  border-radius: 50%;
  background: #f4f7f6;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 2001;
  opacity: 0; }

.scale-enter-active, .scale-appear-active {
  opacity: 1;
  transform: scale(40);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.scale-enter-done, .scale-exit {
  opacity: 1;
  transform: scale(40); }

.scale-exit-active {
  opacity: 0;
  transition: opacity .5s; }

/* ------------------------------
  Work Content
 --------------------------------*/
.work-detail-Content_Wrapper {
  max-width: 760px;
  margin: 0 auto; }

.work-detail-Content_Heading {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 4rem;
  line-height: 1.5; }

.work-detail-ExpandOverlay {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  cursor: pointer; }

.slide-works-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s; }

.slide-works-enter-done, .slide-works-exit {
  opacity: 1;
  transform: translateX(0); }

.slide-works-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.7s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.7s; }

.expand-works-enter-active {
  width: 100%;
  left: 0;
  transform: translateX(0);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.expand-works-enter-done, .expand-works-exit {
  width: 100%;
  left: 0;
  transform: translateX(0); }

.expand-works-exit-active {
  width: 50%;
  left: 50%;
  transform: translateX(0);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.work-detail-BackButton {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 3001;
  transform: translateX(-100px); }
  .work-detail-BackButton .icon {
    font-size: 2rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .work-detail-BackButton .icon.expanded {
      background: #f4f7f6;
      transition: background .25s; }

.slide-button-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s; }

.slide-button-enter-done, .slide-button-exit {
  opacity: 1;
  transform: translateX(0); }

.slide-button-exit-active {
  opacity: 1;
  transform: translateX(-100px);
  transition: transform 0.7s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.7s; }

/* ------------------------------
  Works content left
 --------------------------------*/
.work-detail-ContentLeftWrapper {
  position: relative;
  z-index: 3000;
  opacity: 0; }

.work-detail-ContentLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3000;
  background: transparent;
  padding: 0 50px; }
  .work-detail-ContentLeft_Inner {
    width: 90%; }

/* ------------------------------
  Uncover
 --------------------------------*/
.work-detail-Uncover {
  overflow: hidden;
  background-image: none !important;
  position: relative; }
  .work-detail-Uncover_Slices {
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex; }
  .work-detail-Uncover_Slice {
    flex: 1;
    color: #f4f7f6;
    background: currentColor; }

/* ------------------------------
  Overwrite github-markdown-css
 --------------------------------*/
.markdown-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }
  .markdown-body ul, .markdown-body li {
    list-style: initial; }
